:root {
  color-scheme: dark;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "DM Sans", system-ui, sans-serif;
  background: #0c101a;
}

h3 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 14px;
}
